#historySlider{
  width: 100%;
  padding: 0 0 0 20px;
  margin: 0 0 0 -20px;
}

#dateSlider{
  width: 100%;
  /* overflow-x: scroll; */
  white-space: normal;
}
.mat-slider-ticks{
  height: 6px !important
}
.mat-slider-ticks-container{
  height: 6px !important
}

#menuButton{
  float: right
}
#menuContainer{
  display: inline-block;
  width: 100%;
}
.mat-menu-panel{
  overflow: hidden
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #3f51b5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f51b5;
  cursor: pointer;
}
h1{
  background-color: #3f51b5;
  margin-top: 0;
  padding: 15px;
  color: #f2f2f2;
}
.sidebarListButton > button{
  margin: auto;
  width: 100%;
}
.placeHolder{
  text-align: center;
  font-size: large;
  font-weight: bolder;
  margin: auto;
  width: 100%;
  /* padding-top: 50px; */
  height: 95%;
  background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #fafafa  10px, #f5f5f5  20px );
}

mat-card{
  height: 100%
}

#selectedModel {
  height: auto;
}

/* Mat sidebar */
mat-sidenav{
  border-top-left-radius: 2px;
  border-right-style: solid;
  border-color: #c8c8c8;
}

.example-sidenav-fab-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-fab-container mat-sidenav {
  max-width: 400px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
  height: 100%;
}

.example-fab.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* W3 */

.w3-card, .w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.w3-ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0
}
.w3-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  padding: 5px
}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}

.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}

.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}

.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}

.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}

.w3-responsive{overflow-x:auto; overflow-y:auto}


/* from dashboard */
.model {
  border: 2px dashed hsla(14, 100%, 53%, 0.6);
  margin: 0px 10px;
  padding: 10px;
}

.animation {
  animation: fadeIn 2s;
}

.animation-comment {
  animation: moveFromLeft 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

.comments {
  float: right;
  width: 50%;
}

.comment {
  border-bottom: 4px solid #05ffb0;
  padding: 10px;
}

.clear {
  clear: both;
}

