<ul class="topnav" #topnav> 
    <li *ngIf="currentUser"><a routerLink="/datasets" routerLinkActive="active">Datasets</a></li>
    <li *ngIf="currentUser"><a routerLink="/models" routerLinkActive="active">Models</a></li>
    <!-- <li *ngIf="currentUser"><a routerLink="/evaluations" routerLinkActive="active">Evaluations</a></li> --> 
  <li *ngIf="currentUser"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
  <li *ngIf="!currentUser"><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li *ngIf="currentUser"><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
  <!-- <li *ngIf="currentUser"><a routerLink="/weather" route/rLinkActive="active">Weather</a></li> -->
  <li id="currentUser" *ngIf="currentUser">{{currentUser.name}}</li>  
  
  <li class="icon">
    <a (click)="toggle()">&#9776;</a>
  </li>
</ul>