

<!-- <mat-card>Simple card</mat-card> -->
<!-- <button mat-button>Click me!</button>
<button mat-raised-button color="accent">Accent</button>
<mat-spinner></mat-spinner> -->

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="worker">
      <mat-header-cell *matHeaderCellDef> worker </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.worker}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="epochs">
      <mat-header-cell *matHeaderCellDef> epochs </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.epochs}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="batch_size">
      <mat-header-cell *matHeaderCellDef> batch_size </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.batch_size}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> 

